{% extends 'base.html.twig' %}

{% block main %}
    <h2 class="text-danger mt-3 mb-3 ml-5"> Inschrijven op les</h2>

    <div class="d-flex flex-wrap p-1" style="background: #ebebeb; font-size: 1.1rem">
        <div class="p-2" style="background: orange; border-radius: 100px"><p class="m-0 pl-2 pr-1">Vandaag</p></div>
        <div class="p-2">{{ "+1day"|date("D j M") }}</div>
        <div class="p-2">{{ "+2day"|date("D j M") }}</div>
        <div class="p-2">{{ "+3day"|date("D j M") }}</div>
        <div class="p-2">{{ "+4day"|date("D j M") }}</div>
        <div class="p-2">{{ "+5day"|date("D j M") }}</div>
        <div class="p-2">{{ "+6day"|date("D j M") }}</div>
        <div class="p-2">{{ "+7day"|date("D j M") }}</div>
        <div class="p-2">{{ "+8day"|date("D j M") }}</div>
        <div class="p-2">{{ "+9day"|date("D j M") }}</div>
        <div class="p-2">{{ "+10day"|date("D j M") }}</div>
    </div>
    <br>
    <div class="row">
        {% for lesson in lessons %}
            <div class="col-sm-1 mb-4">
                {% for training in trainings %}
                    {% if training.naam == lesson.training %}
                        <img class="img-fluid" src="{{ asset('img/uploads/' ~ training.brochureFilename) }}" alt="">
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-sm-5 mb-4">
                <div class="row align-items-center" style="height: 50%">
                    <div class="col">
                        <h2>{{ lesson.training }}</h2>
                    </div>
                </div>
                <div class="row align-items-center" style="font-size: 1.7rem; height: 50%">
                    <div class="col">
                        <p class="d-inline"> Om: {{ lesson.time ? lesson.time|date('H:i') : '' }}</p>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Helaas er zijn op het moment geen trainingen.</p>
        {% endfor %}
    </div>
    </div>
{% endblock %}