{% extends 'base.html.twig' %}

{% block main %}
    <h2 class="text-danger mt-3 mb-3 ml-5"> Inschrijven op les</h2>

    <div class="d-flex flex-wrap p-1" style="background: #ebebeb; font-size: 1.1rem">
        {% for i in 1..13 %}
            <a class="is-active js-schedule-date btn btn-warning m-1"
               style="list-style-type: none;"
               href="{{ path('user_lessen_overzicht', {date:date("now")|date_modify("+#{i} day")|date("d-m-Y")}) }}"> {{ date("now")|date_modify("+#{i} day")|date("D d M") }}
            </a>
        {% endfor %}
    </div>
    <br>
    <div class="row">
        {% for lesson in lessons %}
            {% if registrations|length >0 %}
                {% for registration in registrations %}
                    {% if registration.user.id == app.user.id and registration.lesson.id != lesson.id %}
                        <div class="col-sm-6">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Training</th>
                                    <th>Tijd</th>
                                    <th>Max-personen</th>
                                    <th>Inschrijven</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ lesson.training }}</td>
                                    <td>{{ lesson.time ? lesson.time|date('H:i') : '' }}</td>
                                    <td>{{ lesson.registrations|length }}/{{ lesson.maxpersons }}</td>
                                    <td>


                                        {% if lesson.registrations|length < 10 %}
                                            <a class="btn btn-outline-success"
                                               href="{{ path('app_nu_inschrijvingen', {'id': lesson.id}) }}">Inschrijven</a>
                                        {% elseif registration.user.id == app.user.id %}
                                            <p class="btn btn-danger">Vol</p>
                                        {% else %}
                                            {{ registrations }}
                                        {% endif %}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="col-sm-6">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Training</th>
                            <th>Tijd</th>
                            <th>Max-personen</th>
                            <th>Inschrijven</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ lesson.training }}</td>
                            <td>{{ lesson.time ? lesson.time|date('H:i') : '' }}</td>
                            <td>{{ lesson.registrations|length }}/{{ lesson.maxpersons }}</td>
                            <td>
                                {% if lesson.registrations|length < 10 %}
                                    <a class="btn btn-outline-success"
                                       href="{{ path('app_nu_inschrijvingen', {'id': lesson.id}) }}">Inschrijven</a>
                                {% elseif registration.user.id == app.user.id %}
                                    <p class="btn btn-danger">Vol</p>
                                {% else %}
                                    {{ registrations }}
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}
        {% endfor %}

    </div>
{% endblock %}
