{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="container">
        <h1>User</h1>

        {# user-gegevens #}
        <table class="table">
            <tbody>
            {#            <tr>#}
            {#                <th>Id</th>#}
            {#                <td>{{ user.id }}</td>#}
            {#            </tr>#}
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            {#            <tr>#}
            {#                <th>Password</th>#}
            {#                <td>{{ user.password }}</td>#}
            {#            </tr>#}
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Preprovision</th>
                <td>{{ user.preprovision }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Dateofbirth</th>
                <td>{{ user.dateofbirth ? user.dateofbirth|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ user.gender }}</td>
            </tr>
            {#            <tr>#}
            {#                <th>Hiring_date</th>#}
            {#                <td>{{ user.hiringDate }}</td>#}
            {#            </tr>#}
            {#            <tr>#}
            {#                <th>Salary</th>#}
            {#                <td>{{ user.salary }}</td>#}
            {#            </tr>#}
            <tr>
                <th>Street</th>
                <td>{{ user.street }}</td>
            </tr>
            <tr>
                <th>Postal_code</th>
                <td>{{ user.postalCode }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ user.place }}</td>
            </tr>
            {#            <tr>#}
            {#                <th>Roles</th>#}
            {#                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>#}
            {#            </tr>#}
            </tbody>
        </table>
        <br>
        <h2>Lessen die {{ user.firstname }} {{ user.preprovision }} {{ user.lastname }} heeft gegeven.</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Training</th>
                <th>Datum</th>
                <th>Prijs (EUR)</th>
            </tr>
            </thead>
            <tbody>
            {% for les in lessons %}
                {% if les.instructeur.id == user.id %}
                    <tr>
                        <td>{{ les.training }}</td>
                        <td>{{ les.date|date('j-n-Y') }} om {{ les.time|date('i:H') }}</td>
                        <td>&euro;{{ les.training.costs }}</td>
                    </tr>
                {% endif %}
            {% else %}
                <p>{{ user.firstname }} {{ user.preprovision }} {{ user.lastname }} heef nog geen les gegeven.</p>
            {% endfor %}
            </tbody>
        </table>

        {#        <a class="btn btn-outline-success" href="{{ path('user_index') }}">back to list</a>#}

        {#        <a class="btn btn-outline-warning" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>#}

        {#        {{ include('user/_delete_form.html.twig') }}#}
    </div>
{% endblock %}
