<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Training Factory{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

    {% endblock %}
</head>
<body>
{% block nav %}
    <div class="d-flex">
        <div class="p-2 d-none d-sm-none d-md-block">
            <img class="rounded" style="width: 200px;" src="{{ asset('img/logo.png') }}">
        </div>
        <div class="p-2">
            <h1 style="color: red; font: 3rem 'Bauhaus 93'" class="d-none d-sm-block">Training Centrum <br> Den Haag
            </h1>
            <h1 style="color: red; font: 2rem 'Bauhaus 93'" class="d-block d-sm-none">Training Centrum <br> Den Haag
            </h1>
        </div>

        <div class="row ml-auto align-items-center" style="height: 175px; margin: 0 30px 0 0">
            <div class="col">
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a class="btn btn-danger"
                                                                         href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% else %}
                    <a class="btn btn-danger" href="/login">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-light border-top border-bottom border-danger">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" style="text-decoration: underline">
                {# Nav menu #}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="/" {% if app.request.get('_route') == 'home' %} style="font-weight: bold" {% endif %}>
                            Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="#" {% if app.request.get('_route') == '' %} style="font-weight: bold" {% endif %}>
                            Instructeurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="/admin/user" {% if app.request.get('_route') == '' %} style="font-weight: bold" {% endif %}>
                            Leden</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="/admin/training" {% if app.request.get('_route') == 'training_index' %} style="font-weight: bold" {% endif %}>
                            Trainingen</a>
                    </li>
                {% elseif is_granted('ROLE_INSTRUCTEUR') %}
                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="/" {% if app.request.get('_route') == 'home' %} style="font-weight: bold" {% endif %}>
                            Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="/lesson/new" {% if app.request.get('_route') == '' %} style="font-weight: bold" {% endif %}>
                            plannen lessen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="/lesson" {% if app.request.get('_route') == '' %} style="font-weight: bold" {% endif %}>
                            lessen beheer</a>
                    </li>
                {% elseif is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="/" {% if app.request.get('_route') == 'home' %} style="font-weight: bold" {% endif %}>
                            Home</a>
                    </li>
                    <li class="nav-item text-danger">
                        <a class="nav-link text-danger"
                           href="#" {% if app.request.get('_route') == '' %} style="font-weight: bold" {% endif %}>
                            Inschrijven op les</a>
                    </li>
                    <li class="nav-item text-danger">
                        <a class="nav-link text-danger"
                           href="/#" {% if app.request.get('_route') == '' %} style="font-weight: bold" {% endif %}>
                            Overzicht inschrijven</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="#" {% if app.request.get('_route') == '' %} style="font-weight: bold" {% endif %}>
                            Gegevens lid wijzigen</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="/" {% if app.request.get('_route') == 'home' %} style="font-weight: bold" {% endif %}>
                            Home</a>
                    </li>
                    <li class="nav-item text-danger">
                        <a class="nav-link text-danger"
                           href="/trainings-aanbod" {% if app.request.get('_route') == 'trainings-aanbod' %} style="font-weight: bold" {% endif %}>
                            Trainings Aanbod</a>
                    </li>
                    <li class="nav-item text-danger">
                        <a class="nav-link text-danger"
                           href="/user/new" {% if app.request.get('_route') == 'lid-worden' %} style="font-weight: bold" {% endif %}>
                            Lid Worden</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="/gedrachtsregels" {% if app.request.get('_route') == 'gedrachtsregels' %} style="font-weight: bold" {% endif %}>
                            Gedrachtsregels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger"
                           href="/contact" {% if app.request.get('_route') == 'contact' %} style="font-weight: bold" {% endif %}>
                            Lokatie & contact</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        {% block header %}
            <div class="card-deck">
                <div class="card">
                    <img src="{{ asset('img/kickboxen1.jpg') }}" class="rounded card-img" alt="...">

                </div>
                <div class="card d-none d-md-block">
                    <img src="{{ asset('img/kickboxen2.jpg') }}" class="rounded card-img" alt="...">

                </div>
                <div class="card d-none d-lg-block">
                    <img src="{{ asset('img/kickboxen3.jpg') }}" class="rounded card-img" alt="...">

                </div>
            </div>
        {% endblock %}

        {% block main %}{% endblock %}
    </div>


{% endblock %}

{% block footer %}
    <br>
    <footer class="container-fluid" style="background: #34495e">
        <br>
        <div class="row">
            <div class="col text-center">
                <h3 style="color: red">Training Centrum Den Haag 010 519 0532</h3>
                <br>
                <p style="color: white">development bij FastDevelopment</p>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
