{{ form_start(form) }}
    {{ form_widget(form) }}
    <a class="btn btn-outline-success" href="{{ path('training_index') }}">back to list</a>
    <button class="btn btn-outline-warning">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
