{% extends 'base.html.twig' %}

{% block title %}Training index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Training index</h1>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Naam</th>
                <th>Description</th>
                <th>Duration</th>
                <th>Costs</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for training in trainings %}
                <tr>
                    <td>{{ training.id }}</td>
                    <td>{{ training.naam }}</td>
                    <td>{{ training.description }}</td>
                    <td>{{ training.duration ? training.duration|date('H:i') : '' }}</td>
                    <td>{{ training.costs }}</td>
                    <td>
                        <a class="btn btn-outline-success"
                           href="{{ path('training_show', {'id': training.id}) }}">show</a>
                        <a class="btn btn-outline-warning"
                           href="{{ path('training_edit', {'id': training.id}) }}">edit</a>
                        {{ include('training/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-outline-warning" href="{{ path('training_new') }}">Create new</a>
    </div>
{% endblock %}