{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block main %}
    <h1>User index</h1>
    <div class="container">

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Username</th>
                <th>Firstname</th>
                <th>Preprovision</th>
                <th>Lastname</th>
                <th>Dateofbirth</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.preprovision }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.dateofbirth ? user.dateofbirth|date('Y-m-d') : '' }}</td>
                    <td>
                        <a class="btn btn-outline-success" href="{{ path('user_show', {'id': user.id}) }}">show</a>
                        <a class="btn btn-outline-warning" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="16">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-outline-success" href="{{ path('user_new') }}">Create new</a>
    </div>
{% endblock %}
